{%- assign posts = paginator.posts | default: site.posts -%}
{% include profile.html %}
{% for post in posts %}
  <article>
    {% include meta.html post=post preview=true %}
    {{ post.excerpt }}
    <div class="more"><a href="{{ post.url | relative_url }}">Đọc thêm</a></div>
  </article>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <footer>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">« Bài mới hơn</a>{% else %}<span></span>{% endif %}
    <span>Trang {{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}">Bài cũ hơn »</a>{% else %}<span></span>{% endif %}
  </footer>
{% endif %}
